# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/src/main/java/RationalSolution.java
/src/main/java/RectangleSolution.java
/src/test/resources/rationals-custom.txt
/data/
